.contenedor {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: grid;
    grid-template-rows: 10px 9px auto 50px 20px;
    grid-template-areas:
        "untitled"
        "file"
        "icons"
        "colors"
        "elipse";
}

/* Primera fila: barra de título con botones */
.untitled {
    background: #060472;
    display: flex;
    grid-area: untitled;
    justify-content: space-between;
    align-items: center;
    padding:1px 2px;
    color: white;
    font-size: 7px;
    gap:1px;
}

.div_flex_left{
    display: flex;
    align-items: center;
    font-size: 8px;
}

#icono_paint img{
    width: 10px;
    height: 10px;
    background: #1e2271;

}
.div_flex_right{
    display: flex;
    align-items: center;
    font-size: 1px;
    gap: 1px;
}

/* Botones */
#minimizar, #maximizar, #cerrar {
    font-size: 5px;
    cursor: pointer;
    color: #000000;
    padding-bottom: 0px; 
    width: 15px;
    height: 8px;
    display: flex;
    align-items:end;
    justify-content: center;
 
}

/* Colores opcionales */
#minimizar {
    background: #BCBCC5;
}
#maximizar {
    background: #BCBCC5;
}
#cerrar {
    background: #BCBCC5;
}

.file ol {
    background: #BDBEC0;
    display: flex;
    flex-direction: row;
    grid-area: file;
    font-size: 8px;
    gap: 5px;
    list-style: none;
    padding:0;
    margin: 0;
}

.file ol li{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: baseline; /* Asegura que la línea se alinee con el texto */
}
.first-letter{
    font-weight: bold 1.5px;
    display: inline-block;
    text-decoration: underline; /* Usamos subrayado en lugar de border-bottom */
    text-underline-offset: 0px; /* Asegura que la línea quede pegada */
    text-decoration-thickness: 0.5px; /* Ajustamos el grosor de la línea */
}

.icons {
    background: #ffffff;
    grid-area: icons;
    display: grid;
    grid-template: 16px 16px 16px 16px 16px 16px 16px 16px auto/ 18px 18px 1fr;
    grid-template-areas:
    "column1 column2 pizarra"
    "column3 column4 pizarra"
    "column5 column6 pizarra"
    "column7 column8 pizarra"
    "column9 column10 pizarra"
    "column11 column12 pizarra"
    "column13 column14 pizarra"
    "column15 column16 pizarra"
    "column17 column18 pizarra";
}

.column1{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column1;
    border:0.3px solid black ;
}
.column2{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column2;
    border:0.3px solid black ;
}
.column3{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column3;
    border:0.3px solid black ;
}
.column4{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column4;
    border:0.3px solid black ;
}
.column5{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column5;
    border:0.3px solid black ;
}
.column6{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column6;
    border:0.3px solid black ;
}
.column7{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column7;
    border:0.3px solid black ;
}
.column8{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column8;
    border:0.3px solid black ;
}
.column9{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column9;
    border:0.3px solid black ;
}
.column10{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column10;
    border:0.3px solid black ;
}
.column11{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column11;
    border:0.3px solid black ;
}
.column12{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column12;
    border:0.3px solid black ;
}
.column13{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column13;
    border:0.3px solid black ;
}
.column14{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column14;
    border:0.3px solid black ;
}
.column15{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column15;
    border:0.3px solid black ;
}
.column16{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column16;
    border:0.3px solid black ;
}
.column17{
    background: #BDBDBC;
    grid-area: column17;
}
.column18{
    background: #BDBDBC;
    grid-area: column18;

}
.pizarra{
    background: #ffffff;
    grid-area: pizarra;

}

.colors {
    background: #219bae;
    grid-area: colors;
}
.elipse {
    background: #ae2165;
    grid-area: elipse;
}
