.contenedor {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: grid;
    grid-template-rows: 20px 19px auto 80px 20px;
    grid-template-areas:
        "untitled"
        "file"
        "icons"
        "colors"
        "elipse";
}

/* Primera fila: barra de título con botones */
.untitled {
    background: #060472;
    display: flex;
    grid-area: untitled;
    justify-content: space-between;
    align-items: center;
    padding:1px 2px;
    color: white;
    font-size: 7px;
    gap:1px;
}

.div_flex_left{
    display: flex;
    align-items: center;
    font-size: 18px;
}

#icono_paint img{
    width: 20px;
    height: 20px;
    background: #1e2271;

}
.div_flex_right{
    display: flex;
    align-items: center;
    font-size: 1px;
    gap: 2px;
}

/* Botones */
#minimizar, #maximizar, #cerrar {
    font-size: 10px;
    cursor: pointer;
    color: #000000;
    padding-bottom: 0px; 
    width: 15px;
    height: 13px;
    display: flex;
    align-items:end;
    justify-content: center;
 
}

/* Colores opcionales */
#minimizar {
    background: #BCBCC5;
}
#maximizar {
    background: #BCBCC5;
}
#cerrar {
    background: #BCBCC5;
}

.file ol {
    background: #BDBEC0;
    display: flex;
    flex-direction: row;
    grid-area: file;
    font-size: 18px;
    gap: 10px;
    list-style: none;
    padding:0;
    margin: 0;
}

.file ol li{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: baseline; /* Asegura que la línea se alinee con el texto */
}
.first-letter{
    font-weight: bold 1.5px;
    display: inline-block;
    text-decoration: underline; /* Usamos subrayado en lugar de border-bottom */
    text-underline-offset: 0px; /* Asegura que la línea quede pegada */
    text-decoration-thickness: 0.5px; /* Ajustamos el grosor de la línea */
}

.icons {
    background: #ffffff;
    grid-area: icons;
    display: grid;
    grid-template: 39px 39px 39px 39px 39px 39px 39px 39px auto/ 39px 39px 1fr;
    grid-template-areas:
    "column1 column2 pizarra"
    "column3 column4 pizarra"
    "column5 column6 pizarra"
    "column7 column8 pizarra"
    "column9 column10 pizarra"
    "column11 column12 pizarra"
    "column13 column14 pizarra"
    "column15 column16 pizarra"
    "column17 column18 pizarra";
}

.column1{
    background: #BDBDBC;
    gap: 2px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center;
    grid-area: column1;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column2{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column2;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:center ;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column3{
    background: #BDBDBC;
    gap: 1px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:center ;
    grid-area: column3;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column4{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column4;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column5{
    background: #BDBDBC;
    gap: 1px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:center ;
    grid-area: column5;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column6{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column6;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column7{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column7;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column8{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column8;
    border:0.3px solid #6B6B6B ;
    border-top:0.5px solid #ffffff;
}
.column9{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column9;
    border:0.3px solid #6B6B6B ;
    border-top:0.5px solid #ffffff;
}
.column10{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column10;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:center ;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column11{
    background: #BDBDBC;
    gap: 1px;
    grid-area: column11;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:center ;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column12{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column12;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column13{
    background: #BDBDBC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    grid-area: column13;
    font-size: 18px;
    border:0.3px solid #6B6B6B ;
    border-top:0.5px solid #ffffff;
}
.column14{
    background: #BDBDBC;
    gap: 1px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:center ;
    grid-area: column14;
    border:0.3px solid #6B6B6B;
    border-top:0.5px solid #ffffff;
}
.column15{
    background: #DEE0DF;
    gap: 1px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: column15;
    border-bottom:1px solid #6B6B6B;
    border-left:0.7px solid #6B6B6B;
    border-right:0.5px solid #fffdfd;
    border-top:1px solid #474651;
}
.column16{
    background: #BDBDBC;
    gap: 1px;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 18px;
    grid-area: column16;
    border-top: 0.7px solid white;
    border-left:0.7px solid white ;
    border-bottom:1px solid #6B6B6B;
    border-right:0.5px solid #6B6B6B;
}
.column17{
    background: #BDBDBC;
    grid-area: column17;
}
.column18{
    background: #BDBDBC;
    grid-area: column18;

}
.pizarra{
    background: #ffffff;
    grid-area: pizarra;

}

.colors {
    background: #BDBDBC;
    border: 1px solid  #bebdbd ;
    display: grid;
    grid-area: colors;
    grid-template: 80px/100px auto;
    grid-template-areas:
    "palettetwo palettemultiple" ;
}

.palettetwo{
    background-color: #ffffff;
    grid-area: palettetwo;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-left: 23px;
    margin-bottom: 15px;
    display: flex;
    border-left: 3px solid #979797; 
    border-top: 3px solid #979797; 
    gap: 1px;

}
.seleccion1,.seleccion2{
  
    background: #FDFFFC;
    width: 18px;
    height: 18px;
    border-left:1px solid #9E9E9D;
    border-top:1px solid #9E9E9D;
    border-bottom:2px solid #9E9E9D;
    border-right:2px solid #9E9E9D;
    
}

.palettemultiple{
   margin-top: 18px;
   margin-bottom: 1px;
   font-size: 3px;
   grid-area: palettemultiple;
   display: flex;
   flex-direction: row;
   gap: 2px;
   margin-left: 25px;
}
 #color1,#color2,#color3,#color4,#color5,#color6,#color7,#color8,#color9,#color10,#color11,#color12,#color13,#color14,#color15,#color16,#color17,
 #color18,#color19,#color20,#color21,#color22,#color23,#color24,#color25,#color26,#color27,#color28
 {
    border-right: 2px solid#F6F6F6;
    border-bottom: 2px solid#F6F6F6;
    border-top:2px solid #8E8E8E ;
    border-left:2px solid #8E8E8E ;
    width:20px;
    height: 20px;
 }
 #color1{
    background:#000000;
 }
 #color2{
    background:#7F7D7E;
 }
 #color3{
    background:#791511;
 }
 #color4{
    background:#7F7E34;
 }
 #color5{
    background:#398035;
 }
 #color6{
    background:#3B877F;
 }
 #color7{
    background:#0C056F;
 }
 #color8{
    background: #6A176D;
 }
 #color9{
    background:#808158;
 }
 #color10{
    background:#19413B;
 }
 #color11{
    background:#3A85EC;
 }
 #color12{
    background:#19427A;
 }
 #color13{
    background:#3F1BD3;
 }
 #color14{
    background:#784526;
 }
 #color15{
    background:#784526;
 }
 #color16{
    background:#FEFEFE;
 }
 #color17{
    background:#E53229;
 }
 #color18{
    background:#F8FB85;
 }
 #color19{
    background:#96F67B;
 }
 #color20{
    background:#96F7FA;
 }
 #color21{
    background:#211CDD;
 }
 #color22{
    background:#CF47E7;
 }
 #color23{
    background:#F9FCA9;
 }
 #color24{
    background:#95F4A1;
 }
 #color25{
    background:#AFF1F2;
 }
 #color26{
    background:#7F7CE1;
 }
 #color27{
    background:#D24574;
 }
 #color28{
    background:#DD8C65;
 }
 .color{
    margin-top: 3px;
    margin-bottom: 1px;
    font-size: 3px;
    grid-area: color;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: 25px;
 }
.elipse {
    background: #BEBEBD;
    grid-area: elipse;
    display: grid;
    border-left:2px solid #8E8E8E ;
    font-weight: bold;
    grid-template:100%/0.4fr 0.4fr 0.3fr;
    grid-template-areas: 
    "dibuja caracter ano";

}

.dibuja{
    grid-area: dibuja;
    border-right: 2px solid#F6F6F6;
    border-top:2px solid #8E8E8E ;
    border-left:2px solid #8E8E8E ;
}
.caracter{
    grid-area: caracter;
    border-right: 2px solid#F6F6F6;
    border-top:2px solid #8E8E8E ;
    border-left:2px solid #8E8E8E ;
}
.ano{
    grid-area: ano;
    border-right: 2px solid#F6F6F6;
    border-top:2px solid #8E8E8E ;
    border-left:2px solid #8E8E8E ;
}
